host = "127.0.0.1"
port = 5502
max_clients = 5 # Maximum number of clients that can connect to the server
idle_timeout = 30 # Seconds

[openweathermap]
    apikey = "<API_KEY>"
    city = "New York"

[hvac]
    enabled = true
    max_fan_speed = 500 # RPM
    idle_current = 0.1 # Amps - Current drawn by the system when when fan is shut off

[pulsecounter]
    enabled = true

